# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env Files
.env
.env.*
!.env.example

# Drizzle‑Kit
/server/database/drizzle/*.json
/server/db/drizzle/_journal.json
/server/db/drizzle/*_draft.sql

# Cloudflare Files
.wrangler

# Tauri Files
*.keystore
*.jks
/src-tauri/gen/android/keystore.properties